{{#with model}}
	<header>
		<div class="section-wrapper">
			<div class="header-action-wrapper">
				{{#link-to "details" class="header-action-icon header-action-back"}}{{/link-to}}
			</div>
			<div class="header-title-wrapper">
				<h1 class="header-title">
					Color palettes
				</h1>
			</div>
		</div>
	</header>
	<main class="card-area">
		<div class="section-wrapper">
			{{#each palettes}}
				<div class="card-item">
					{{#with this}}
						<div class="card-item-scheme">
							{{#each colors}}
								{{#with this}}
									<div class="card-item-scheme-item" {{bind-attr style=cssStr}}>
										{{value}}
									</div>
								{{/with}}
							{{/each}}
						</div>
					{{/with}}
					<div class="card-item-segment">
						<div class="card-item-text">{{name}}</div>
						<div class="card-item-actions">
							<div {{action "save" this}} class="card-item-action card-item-action-save"></div>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</main>
{{/with}}
