{{#with model}}
	<header>
		<div class="section-wrapper fx-fade-in">
			<div class="header-action-wrapper">
				<a {{action "goBack"}} class="header-action-icon header-action-back fx-ripple"></a>
			</div>
			<div class="header-title-wrapper">
				<h1 class="header-title">
					Palettes
				</h1>
			</div>
		</div>
	</header>
	<main class="content-area card-area">
		<div class="section-wrapper">
			{{#each palettes}}
				<div {{action "save" this}} class="card-item card-item-action-container fx-animate-in fx-ripple">
					<div class="card-item-segment">
						{{#with this}}
							<div class="card-item-color-list">
								{{#each colors}}
									<div class="card-item-color-list-item" {{bind-attr style=this}}></div>
								{{/each}}
							</div>
						{{/with}}
					</div>
					<div class="card-item-segment">
						<div class="card-item-text">{{name}}</div>
					</div>
				</div>
			{{/each}}
		</div>
	</main>
{{/with}}
