<header>
	<div class="section-wrapper">
		<div class="section-wrapper">
			<div class="header-action-wrapper">
				{{#with model}}
					<a {{action "back" palette}} class="header-action-icon header-action-back"></a>
					<a {{action "done" palette}} class="header-action-icon header-action-icon-right header-action-done"></a>
				{{/with}}
			</div>
		</div>
	</div>
</header>
<main class="card-area">
	<div class="section-wrapper">
		{{#view "picker" class="card-item fx-animate-in"}}
			<div class="card-item-picker">
				<div class="picker-wrapper">
					<div class="picker-hues"></div>
					<div class="picker-shades"></div>
				</div>
			</div>
			<div class="card-item-segment">
				<div class="card-item-container card-item-input-wrap">
					<div class="paper-input-container">
						<input type="text" class="card-item-input picker-input paper-input" placeholder="Enter a color" autofocus>
						<span class="paper-input-highlight"></span>
						<span class="paper-input-bar"></span>
					</div>
				</div>
				<div class="card-item-color-button picker-color-button"></div>
			</div>
		{{/view}}
	</div>
</main>
