<% if (!model || !model.length) { %>
    <div class="empty-area fx-fade-in">
        <div class="empty-area-action">No palettes found</div>
    </div>
<% } else { %>
    <% for (var i = 0, l = model.length; i < l; i++) { %>
        <div class="card-item card-item-select-item fx-come-in" data-action="add" data-palette="<%=model[i]%>"><%=model[i]%></div>
    <% } %>
<% } %>
