<header>
	<div class="section-wrapper fx-fade-in">
		<div class="header-action-wrapper">
			{{#link-to "palette.show" class="header-action-icon header-action-back fx-ripple"}}{{/link-to}}
		</div>
		<div class="header-title-wrapper">
			<h1 class="header-title">
				Select a palette
			</h1>
		</div>
	</div>
</header>
<main class="content-area card-area">
	<div class="section-wrapper">
		{{#if model.length}}
			{{#each model}}
				<div class="card-item card-item-select-item fx-animate-in fx-ripple" {{action "add" this}}>
					{{this}}
				</div>
			{{/each}}
		{{else}}
			<div class="empty-area">
				<div class="empty-area-action">
					No palettes found
				</div>
			</div>
		{{/if}}
	</div>
</main>
