{{#with model}}
	<header>
		<div class="section-wrapper fx-fade-in">
			<div class="header-action-wrapper">
				{{#link-to "index" class="header-action-icon header-action-back"}}{{/link-to}}
			</div>
			<div class="header-title-wrapper">
				<h1 class="header-title">
					New palette
				</h1>
			</div>
		</div>
	</header>
	<main class="content-area card-area">
		<div class="section-wrapper section-wrapper-full">
			<div class="section-content-center">
				<div class="section-content-center-inner">
					{{#if cromaImage}}
						<div class="paper-button-container fx-slide-in">
							<a {{action "getpalette"}} class="paper-button paper-button-block paper-ripple">
								Get palette from image
							</a>
						</div>
					{{/if}}

					<div class="paper-button-container fx-slide-in">
						{{#link-to "picker" (query-params palette=null from="palette.new") class="paper-button paper-button-block paper-ripple"}}
							Get palette from color
						{{/link-to}}
					</div>

					<div class="paper-button-container fx-slide-in">
						{{#link-to "palette.name" (query-params oldname=null from="palette.new")  class="paper-button paper-button-block paper-ripple"}}
						Add colors manually
						{{/link-to}}
					</div>

					{{#if unlockPro}}
					<div class="paper-button-container  fx-slide-in unlock">
							<a {{action "unlockpro"}} class="paper-button paper-button-block paper-ripple">
								Unlock pro
							</a>
						</div>
					{{/if}}
				</div>
			</div>
		</div>
	</main>
{{/with}}
