{{#with model}}
    <header>
        <div class="section-wrapper">
            <div class="header-action-wrapper">
                <a {{action "goBack"}} class="header-action-icon header-action-back"></a>
            </div>
            <div class="header-title-wrapper">
                <h1 class="header-title">
                    Color palette
                </h1>
            </div>
        </div>
    </header>
    <main class="card-area">
        <div class="section-wrapper">
            <div class="card-item fx-animate-in">
                <div class="card-item-scheme">
                    {{#each this}}
                        {{#with this}}
                            <div class="card-item-scheme-item" {{bind-attr style=cssStr}}>
                                {{value}}
                            </div>
                        {{/with}}
                    {{/each}}
                </div>
            </div>

            <div class="paper-button-container fx-animate-in">
                <a {{action "save" this}} class="paper-button paper-button-block paper-ripple">
                    Save palette
                </a>
            </div>
        </div>
    </main>
{{/with}}
