$font-family: Raleway, Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;
$accent-color: #f06860 !default;
$light-color: #fff !default;
$dark-color: #333 !default;
$roundness: 3px !default;
$bar-height: 3.5em !default;
$mobile-width: 36em;
$mobile-break-point: "only screen and (max-width: 27em)" !default;
