@import "functions";
@import "reset";
@import "global";
@import "flexbox";
@import "animations";
@import "modal";
@import "colorpicker";

html, body { height: 100%; }

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: 14px;
    line-height: 21px;
    background-color: $light-color;
    color: $dark-color;

    $views: empty, normal, full;

    @each $view in $views {
        &.view-#{$view} {
            [data-view]:not([data-view~=#{$view}]) { display: none; }
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 (.5em / 1.5);
    height: $bar-height / 1.5;
    background-color: $accent-color;
    color: $light-color;
    line-height: $bar-height / 1.5;
    font-weight: 700;
    font-size: 1.5em;
    text-shadow: 0 1px 3px rgba(0,0,0,0.15);
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.05),
                0 1px 3px rgba(0,0,0,0.15);
}

.header-inner {
    width: $mobile-width / 1.5;
    max-width: 100%;
    margin: auto;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.header-title { float: left; }

.header-actions { float: right; }

.header-action-button {
    @extend %snappy;

    padding: .5em;
    height: 2.25em;
    width: 2.25em;
    float: left;
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;

    &:focus, &:hover { background-color: rgba(0,0,0,0.025); }

    &:active { background-color: rgba(0,0,0,0.05); }
}

.header-action-add { background-image: url(../../assets/img/add.svg); }

.header-action-photo { background-image: url(../../assets/img/photo.svg); }

.card-area-wrapper {
    position: fixed;
    top: $bar-height;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darken($light-color, 10%);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
}

.card-area {
    height: 100%;
    width: $mobile-width;
    max-width: 100%;
    margin: auto;
}

.card-item {
    background-color: $light-color;
    color: $dark-color;
    margin: .5em;
    padding-top: .5em;
    border-radius: $roundness;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

.card-item-color {
    margin: .5em;
    margin-top: 0;
    height: 4em;
    border-radius: $roundness - 1px;
    cursor: pointer;
}

.card-item-info {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(nowrap);

    padding: .5em;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.card-item-value { @include flex-grow(1); }

.card-item-action {
    @extend %snappy;

    display: inline-block;
    margin: 0 1em;
    height: 1.5em;
    width: 1.5em;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    cursor: pointer;

    &:last-of-type { margin-right: 0; }
}

$actions: love, delete, share;

@for $i from 1 through length($actions) {
    $action: nth($actions, $i);

    .card-item-action-#{$action} {
        background-image: url(../../assets/img/#{$action}.svg);

        &:active { background: url(../../assets/img/#{$action}-active.svg); }
    }
}

.card-item-action-love {
    position: relative;

    &.clicked {
        &:after {
            @extend %break;

            content: "";
            display: block;
            height: 100%;
            width: 100%;
            background: url(../../assets/img/love-break.svg) no-repeat center center;
            opacity: 0;

            .card-item-loved & {
                @extend %love;

                background: url(../../assets/img/love-active.svg) no-repeat center center;
            }
        }
    }

    .card-item-loved & { background: url(../../assets/img/love-active.svg); }
}

.card-item-action-color {
    height: 1.5em;
    width: 6em;
    border-radius: $roundness;
}

.card-item-buttons {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
}

.card-item-button {
    @include flex-grow(1);
    @extend %snappy;

    border-color: rgba(0,0,0,0.1);
    border-width: 1px 1px 0 0;
    border-style: solid;
    padding: .75em;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &:focus, &:hover { background-color: rgba(0,0,0,0.025); }

    &:active { background-color: rgba(0,0,0,0.05); }

    &:only-of-type, &:last-of-type { border-right-width: 0; }
}

/* browser specific styles */
::selection {
    background-color: $accent-color;
    color: $light-color;
}

::-moz-selection {
    background-color: $accent-color;
    color: $light-color;
}
