@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("Raleway-Regular.eot");
  src: url("Raleway-Regular.eot?#iefix") format("embedded-opentype"),
       url("Raleway-Regular.woff") format("woff"),
       url("Raleway-Regular.ttf") format("truetype"),
       url("Raleway-Regular.svg#Raleway") format("svg");
}

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: url("Raleway-Bold.eot");
  src: url("Raleway-Bold.eot?#iefix") format("embedded-opentype"),
       url("Raleway-Bold.woff") format("woff"),
       url("Raleway-Bold.ttf") format("truetype"),
       url("Raleway-Bold.svg#Raleway-Bold") format("svg");
}
