/*************
! Drop shadows
**************/

@include exports("dropshadow") {
    %dropshadow-1 { box-shadow: 0 1px 3px rgba(0, 0, 0, .12); }

    %dropshadow-2 { box-shadow: 0 3px 6px rgba(0, 0, 0, .16); }

    %dropshadow-3 { box-shadow: 0 10px 20px rgba(0, 0, 0, .19); }

    %dropshadow-4 { box-shadow: 0 14px 28px rgba(0, 0, 0, .25); }

    %dropshadow-5 { box-shadow: 0 19px 38px rgba(0, 0, 0, .3); }
}

@mixin dropshadow($level: 1) {
    @extend %dropshadow-#{$level};
}
