$font-family: "Roboto", "Myriad Pro", Helvetica, Tahoma, "Nimbus Sans", Arial, sans-serif !default;
$accent-color: #f06860 !default;
$info-color: #60a1f0 !default;
$success-color: #65f060 !default;
$warning-color: #f0d360 !default;
$error-color: #f08c60 !default;
$light-color: #fff !default;
$dark-color: #333 !default;
$roundness: 2px !default;
$spacing: 1.5em !default;
$bar-height: 3.5em !default;
$mobile-width: 36em !default;
$mobile-break-point: "only screen and (max-width: 27em)" !default;
