@import "global";
@import "dropshadow";
@import "animations";


/*************
! Paper button
**************/

@include exports("paper-button") {
	.paper-button-container { margin: $spacing; }

	.paper-button {
		@include dropshadow(1);
		@extend %transition;

		-webkit-appearance: none;
		-moz-appearance: none;

		padding: $spacing / 2;
		background-color: $light-color;
		color: $dark-color;
		border-radius: $roundness;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;

		&:focus, &:hover { @include dropshadow(2); }

		&:active { @include dropshadow(3); }

		.unlock & {
			background-color: $accent-color;
			color: $light-color;
		}
	}

	.paper-button-block { display: block; }
}
