@import "functions";
@import "reset";
@import "global";
@import "flexbox";
@import "animations";
@import "dropshadow";
@import "paper-input";
@import "paper-button";
@import "toast-notification";


/*******************
! Mixins and extends
********************/

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%noselect {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/************
! Base styles
*************/

html, body { height: 100%; }

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: 14px;
    line-height: 21px;
    background-color: $light-color;
    color: $dark-color;
}

[data-action] { cursor: pointer; }

/****************
 ! Header styles
 ****************/

header {
    @include dropshadow(1);
    @extend %noselect;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $bar-height;
    background-color: $accent-color;
    color: $light-color;
    line-height: $bar-height;
    z-index: 20;
}

.header-action-container { @extend %clearfix; }

.header-action-icon {
    @extend %snappy;

    float: left;
    height: $bar-height;
    width: $bar-height;
    margin: 0 .25em;
    background-repeat: no-repeat;
    background-position: center center;
}

.header-action-icon-right { float: right; }

.header-action-menu { background-image: url(../../img/hamburger.svg); }

.header-action-back { background-image: url(../../img/arrow-back.svg); }

.header-action-done { background-image: url(../../img/done.svg); }

.header-title-wrapper { margin-left: $spacing; }

.header-title {
    color: $light-color;
    font-weight: 400;
    font-size: 1.5em;
    text-decoration: none;
}


/************
! Cover image
*************/

.cover-image {
    height: $bar-height;
    width: 100%;
    background: url(../../img/cover.png) repeat center center;
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0.06);
}


/*********
! Sections
**********/

.section-wrapper {
    width: $mobile-width;
    max-width: 100%;
    margin: auto;
}

.section-wrapper-full { height: 100%; }

.section-content-center {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.section-content-center-inner {
    display: table-cell;
    vertical-align: middle;
}

/******************
! Empty area styles
*******************/

.empty-area {
    @extend %noselect;

    position: absolute;
    display: table;
    table-layout: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: $spacing;
    z-index: 0;
}

.empty-area-action {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: lighten($dark-color, 30%);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;
}

/*******************
! Action area styles
********************/

.header-button-wrapper { position: relative; }

.action-button {
    @include dropshadow(2);
    @extend %transition;

    position: absolute;
    right: $spacing;
    bottom: - ($bar-height / 2);
    height: $bar-height;
    width: $bar-height;
    border-radius: 50%;
    background-color: $warning-color;
    background-repeat: no-repeat;
    background-position: center center;
    pointer-events: auto;

    &:focus, &:hover {
        background-color: lighten($warning-color, 10%);

        @include dropshadow(3);
    }

    &:active { @include dropshadow(4); }
}

.action-button-add { background-image: url(../../img/add-circle.svg); }

.action-button-content {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}


/************
! Card styles
*************/

.content-area {
    position: fixed;
    top: $bar-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;

    &.card-area { background-color: darken($light-color, 5%); }
}

.card-item {
    background-color: $light-color;
    color: $dark-color;
    margin: $spacing;
    border-radius: $roundness;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.3);
    overflow: hidden;
}

.card-item-select-item {
    @extend %transition;

    padding: $spacing / 2;
    cursor: pointer;

    &:focus, &:hover { @include dropshadow(1); }

    &:active { @include dropshadow(2); }
}

.card-item-segment {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-items(center);
}

.card-item-container { padding: $spacing / 2; }

.card-item-header {
    text-transform: uppercase;
    padding-bottom: $spacing / 2;
}

.card-item-info {
    padding: ($spacing / 2) $spacing;

    &:first-of-type { padding-top: $spacing; }

    &:last-of-type { padding-bottom: $spacing; }
}

.card-item-label {
    font-weight: 700;
    color: lighten($dark-color, 20%);

    &:after {
        content: ":";
        padding: 0 .5em;
        color: lighten($dark-color, 50%);
    }
}

.card-item-text {
    @include flex-grow(1);

    padding: $spacing / 2;
}

.card-item-action {
    @extend %snappy;

    display: inline-block;
    height: 3em;
    width: 3em;
    background-size: $spacing;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:last-of-type { margin-right: 0; }
}

$actions: love, remove, download, share;

@for $i from 1 through length($actions) {
    $action: nth($actions, $i);

    .card-item-action-#{$action} {
        background-image: url(../../img/#{$action}.svg);

        &:active { background-image: url(../../img/#{$action}-active.svg); }
    }
}

.card-item-action-love {
    position: relative;

    &.clicked {
        &:after {
            @extend %break;

            content: "";
            display: block;
            height: 100%;
            width: 100%;
            background-image: url(../../img/love-break.svg);
            background-size: $spacing;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;

            .card-item-loved & {
                @extend %love;

                background-image: url(../../img/love-active.svg);
            }
        }
    }

    .card-item-loved & { background-image: url(../../img/love-active.svg); }
}

.card-item-button-area {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
}

.card-item-button {
    @include flex-grow(1);
    @extend %noselect;
    @extend %transition;

    border-color: rgba(0,0,0,0.1);
    border-width: 1px 1px 0 0;
    border-style: solid;
    padding: $spacing / 2;
    color: $dark-color;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &:focus, &:hover { background-color: rgba(0,0,0,0.025); }

    &:active { background-color: rgba(0,0,0,0.05); }

    &:only-of-type, &:last-of-type { border-right-width: 0; }
}

.card-item-input-wrap { @include flex-grow(1); }

.card-item-input {
    min-width: 8em;
    display: inline-block;
}

.card-item-input-block {
    width: 100%;
    display: block;
}

.card-item-input-name {
    font-size: 1.5em;

    @media screen and (min-width: $mobile-width) { font-size: 2em; }
}

.card-item-color-button {
    width: 8em;
    height: 3em;
    border-radius: $roundness;
    margin: $spacing / 2;
}

.card-item-color-item {
    height: $bar-height;
    line-height: $bar-height;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    &-large {
        height: $bar-height * 2;
        width: 100%;
    }
}

.card-item-action-container { cursor: pointer; }


/*************
! Color picker
**************/

.picker-wrapper {
    @extend %clearfix;

    width: 100%;
    height: 20em;
}

.picker-color-cell {
    float: left;
    width: 10%;
    height: 10%;
}

.picker-hues {
    width: 100%;
    height: 20%;

    .picker-color-cell { height: 50%; }
}

.picker-shades {
    width: 100%;
    height: 80%;

    .picker-color-cell { height: 12.5%; }
}


/******************
! Animation effects
*******************/

.animate-in {
    $n: 10;
    $t: 10;

    @for $i from 0 through ($n - 1) {
        &:nth-of-type(#{$n}n - #{$i}) {
            @include fadein(#{random($t) / ($t * 2)}s);
        }
    }
}

.fade-in { @extend %fadein; }

.scale-in { @extend %scalein; }

.ripple {
    @include transform(scale(0) translateZ(0));

    position: absolute;
    width: 100%;
    margin-top: -50%;
    margin-left: -50%;
    padding: 50%;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
    pointer-events: none;
}

.ripple-animate { @extend %ripple; }


/************************
! Browser specific styles
*************************/

::selection {
    background-color: $accent-color;
    color: $light-color;
}

::-moz-selection {
    background-color: $accent-color;
    color: $light-color;
}
