@import "functions";
@import "reset";
@import "global";
@import "flexbox";
@import "animations";


/*******************
! Mixins and extends
********************/

@mixin dropshadow($level: 1){
    @if ($level == 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if ($level == 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if ($level == 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if ($level == 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if ($level == 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/****************
! Base styles
****************/

html, body { height: 100%; }

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: 14px;
    line-height: 21px;
    background-color: $light-color;
    color: $dark-color;
}

.section-wrapper {
    width: $mobile-width;
    max-width: 100%;
    margin: auto;
}


/****************
 ! Header styles
 ****************/

header {
    @include dropshadow(2);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $bar-height;
    background-color: $accent-color;
    color: $light-color;
    line-height: $bar-height;
    z-index: 20;
}

.header-wrapper { @extend %clearfix; }

.header-icon {
    float: left;
    height: $bar-height;
    width: $bar-height;
    margin: 0 .25em;
    background-repeat: no-repeat;
    background-position: center center;
}

.header-menu { background-image: url(../../src/img/hamburger.svg); }

.header-back { background-image: url(../../src/img/arrow-back.svg); }

.header-title {
    float: left;
    color: $light-color;
    font-weight: 400;
    font-size: 1.5em;
    text-decoration: none;
}


/************
! Cover image
*************/

.cover-image {
    height: $bar-height;
    width: 100%;
    background: url(../../src/img/cover.png) no-repeat center center;
    background-size: 100%;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 -1px 2px rgba(0,0,0,0.24);
}


/******************
! Empty area styles
*******************/

.empty-area {
    position: absolute;
    display: table;
    table-layout: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: $spacing;
    z-index: 0;
}

.empty-area-action {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: lighten($dark-color, 30%);
    text-shadow: 0 1px 3px rgba(255,255,255,0.3);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;
}

/*******************
! Action area styles
********************/

.action-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 30;
}

.action-button {
    @extend %snappy;
    @include dropshadow(3);

    float: right;
    margin: $spacing;
    height: $bar-height;
    width: $bar-height;
    border-radius: 50%;
    background: $alt-color url(../../src/img/add-circle.svg) no-repeat center center;

    &:focus, &:hover { background-color: darken($alt-color, 5%); }

    &:active { background-color: darken($alt-color, 10%); }
}


/************
! Card styles
*************/

.card-area {
    position: fixed;
    top: $bar-height;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darken($light-color, 5%);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
}

.card-item {
    @include dropshadow(1);

    background-color: $light-color;
    color: $dark-color;
    margin: $spacing;
    border-radius: $roundness;
}

.card-item-segment {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
}

.card-item-header {
    text-transform: uppercase;
    padding-bottom: $spacing / 2;
}

.card-item-info {
    padding: ($spacing / 2) $spacing;

    &:first-of-type { padding-top: $spacing; }

    &:last-of-type { padding-bottom: $spacing; }
}

.card-item-label {
    font-weight: 700;
    color: lighten($dark-color, 20%);

    &:after {
        content: ":";
        padding: 0 .5em;
        color: lighten($dark-color, 50%);
    }
}

.card-item-color {
    display: block;
    height: $bar-height * 2;
    border-radius: $roundness $roundness 0 0;
    cursor: pointer;
}

.card-item-text {
    @include flex-grow(1);

    padding: $spacing / 2;
}

.card-item-action {
    @extend %snappy;

    display: inline-block;
    height: 3em;
    width: 3em;
    background-size: $spacing;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:last-of-type { margin-right: 0; }
}

$actions: love, delete, share;

@for $i from 1 through length($actions) {
    $action: nth($actions, $i);

    .card-item-action-#{$action} {
        background-image: url(../../src/img/#{$action}.svg);

        &:active { background-image: url(../../src/img/#{$action}-active.svg); }
    }
}

.card-item-action-love {
    position: relative;

    &.clicked {
        &:after {
            @extend %break;

            content: "";
            display: block;
            height: 100%;
            width: 100%;
            background-image: url(../../src/img/love-break.svg);
            background-size: $spacing;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;

            .card-item-loved & {
                @extend %love;

                background-image: url(../../src/img/love-active.svg);
            }
        }
    }

    .card-item-loved & { background-image: url(../../src/img/love-active.svg); }
}

.card-item-button-area {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
}

.card-item-button {
    @include flex-grow(1);
    @extend %snappy;

    border-color: rgba(0,0,0,0.1);
    border-width: 1px 1px 0 0;
    border-style: solid;
    padding: $spacing / 2;
    color: $dark-color;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &:focus, &:hover { background-color: rgba(0,0,0,0.025); }

    &:active { background-color: rgba(0,0,0,0.05); }

    &:only-of-type, &:last-of-type { border-right-width: 0; }
}

.card-item-input-wrap {
    @include flex-grow(1);

    padding: $spacing / 2;
}

.card-item-input {
    min-width: 12em;
    display: inline-block;
    padding: $spacing / 2;
    border: 1px solid darken($light-color, 20%);
    background-color: $light-color;
    border-radius: $roundness;

    &:hover, &:focus, &:active {
        border-color: $accent-color;
        outline: none;
    }
}

.card-item-color-button {
    width: 6em;
    border-radius: $roundness;

    margin: $spacing / 2;
}

.card-item-scheme { @extend %clearfix; }

.card-item-scheme-item {
    float: left;
    height: $bar-height;
    width: $bar-height * 2;
    line-height: $bar-height;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/* browser specific styles */
::selection {
    background-color: $accent-color;
    color: $light-color;
}

::-moz-selection {
    background-color: $accent-color;
    color: $light-color;
}
